# Ignore files for npm package

# Directories
examples/
docs/
.vscode/
.idea/
CONTRIBUTING.md
CODE_OF_CONDUCT.md

# Files
.gitignore
.prettierignore
roadmap.md
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*